# Virtual environment
.venv/
venv/
ENV/

# Build & Dist
build/
dist/

# Python cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
